@media (max-width: 768px) {

  .menu__list {
  flex-direction: column;
  padding: 5px;
  }

  .menu__link {
   padding: 10px 10px;
   margin: 5px 0;
   width: 100%;
   justify-content: center;
  }

  .inicio-section::before {
  background-size: 150% auto;
  }

  .inicio-content {
   padding: 0 20px;
  }

  .inicio-title {
    font-size: 3rem;
  }

  .main-content {
  padding: 60px 0;
  }

  .section-title {
    font-size: 2rem;
  }

  .section-card {
    border-radius: 0;
    box-shadow: none;
    transition: none;
  }

  .section-card:hover {
    transform: none;
    box-shadow: none;
  }

  .section-header {
    padding: 30px 40px;
  }

  .paquetes-exclusivos-button {
    font-size: 1rem;
  }

 .content-grid {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px 30px;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .gallery-item:first-child {
    grid-row: 1 / 2;
  }

  .gallery-container {
    height: 600px;
  }

  .social-float {
    position: fixed;
    width: 300px;
    right: -300px;
    top: 87%;
    transform: translateY(-50%);
    z-index: 999;

  }

  #social-toggle:checked ~ .social-float {
    right: -2%;
  }

  #social-toggle:checked ~ .toggle-btn {
    right: -0%;
  }
  .social-header {
    padding: 12px 20px;
    font-size: 0.8rem;
  }

  .social-icons {
    flex-direction: row;
    padding: 15px 15px 15px 35px;
  }

  .social-link {
   width: 50px;
   height: 50px;
   padding: 9px;
  }

  .social-item {
  width: 50px;
  height: 50px;
  }

  .toggle-btn{
    top: 90%;
  }

  .gallery-container {
    height: 300px;
  }

  .mapouter {
    height: 400px;
    width: 400px;
  }

  .gmap_canvas{
    height: 400px;
    width: 400px;
  }

  .title-box {
  font-size: 1.2rem;
  }

  .title-size {
    font-size: 1.3rem;
  }
  
  .box-grid {
  display: block;
  }

  .presentation-card {
    margin-bottom: 15px;
    padding: 30px 15px;
    border: 1px solid #0001;
    background: var(--cream);
  }

  .img-box{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .img-contact {
    width: 80px;
    height: 80px;
  }

  .services-grid {
    display: block;
    padding: 40px 30px;
  }

  .service-card {
    margin-bottom: 25px;
  }

  
}
